<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>主页</title>
<link rel="shortcut icon" type="image/x-icon" href="../../../static/img/logo.jpg" id="favicon" />
<link rel="stylesheet" type="text/css" href="../../../static/css/navigation.css">
<style>
  /* ul span{
        float: left!important;
        color: #515a6e
    } */
    .job-consult a {
      color: #9b9b9b!important;
    }
    .job-consult a:hover{
      color:white!important;
    }
</style>
</head>
<body>
  <!-- <script>
    function goHelp() {
      window.location.href = '/static/html/doc.html'
    }
    function goHome () {
      window.location.href = '/'
    }
    function goEnter () {
      window.location.href = '/enterprise/'
    }
  </script>   -->
<ul class="topmenu">
    <li><a href="/home" class="active">首页</a></li>
    <li class="job-consult"><a href="/consult/">就业咨询</a></li>
    <span>
        <li class="login-register">
            <img src="../../../static/img/curry.jpg">
            <a href="/user_login" class="login-nav">登录</a>/
            <a href="/user_register" class="register-nav">注册</a></li>
        <li class="book">
            <img src="../../../static/img/wechat-1.jpg">
            <a href="/book" class="book-nav">订阅公众号</a>
        </li>
    </span>
</ul>
<div id="home_page">
    <home-page></home-page>
</div>
<!-- <div class="footer">
    <span>©2017 Handsome</span>
    <a onclick="goHelp()">文档</a>
    <a onclick="goHome()">首页</a>
    <a onclick="goEnter()">登录</a>
</div> -->
</body>
</html>