body{
    margin: 0;
    padding: 0;
    font-size:15px!important;
}
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#272727;
}
.topmenu li {
    float: left;
}
.topmenu li a {
    display: inline-block;
    color: white;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}
.topmenu li a:hover {
    background-color: #222;
    color: white;
    font-weight: bold;
}
.topmenu li:first-child {
    color: white;
    padding-left: 7vw;
    /* background-color: rgb(91, 76, 175); */
}

.topmenu span{
    float: right;
    font-size: 0.9em;
}

.topmenu li:last-child{
    padding-right: 7vw;
}

ul span a.login-nav{
    padding-left: 2px!important;
    padding-right: 2px;
}

ul span a.register-nav{
    padding-left: 0px!important;
}

ul span a.book-nav{
    padding-left: 0px!important;
}
ul span li img{
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}